In [2]:
import pandas as pd
import requests
import json

In [15]:
body = requests.get("http://api.nbp.pl/api/exchangerates/rates/a/usd/2018-01-01/2018-12-31/")
response = body.json()
df = pd.DataFrame(response['rates'])
df = df[['effectiveDate','mid']]
df = df.rename(columns={'effectiveDate':'Data', 'mid':'Kurs USD'})
df.head()

         Data  Kurs USD
0  2018-01-02    3.4546
1  2018-01-03    3.4616
2  2018-01-04    3.4472
3  2018-01-05    3.4488
4  2018-01-08    3.4735

In [10]:
df.to_csv('Kurs_USD.csv', index=False)