In [120]:
import pandas as pd
import requests
import json

In [161]:
kurs = pd.DataFrame()

In [169]:
# Funkcja do pobierania kursu walut z API NBP:

def pobierz_kurs(waluta, rok_poczatkowy, ilosc_lat):
    global kurs
    for i in range(0,ilosc_lat):
        body = requests.get(f'http://api.nbp.pl/api/exchangerates/rates/a/{waluta}/{rok_poczatkowy}-01-01/{rok_poczatkowy}-12-31/')
        response = body.json()
        kurs = kurs.append(response['rates'])
        rok_poczatkowy += 1

In [170]:
# Pobieram kurs:

waluta = input('Podaj walutę: ')
rok_pocz = int(input('Podaj rok początkowy: '))
il_lat = int(input('Ile lat: '))
pobierz_kurs(waluta, rok_pocz, il_lat)

Podaj walutę:  gbp
Podaj rok początkowy:  2018
Ile lat:  4

In [171]:
# Formatuję tabelę

kurs = kurs[['effectiveDate','mid']]
kurs = kurs.rename(columns={'effectiveDate':'Data', 'mid':f'Kurs {waluta}'})

In [172]:
# Zapisuję dane do pliku CSV 

kurs.to_csv(f'Kurs_{waluta}.csv', index=False)

In [164]:
#tymczasowe pole do pobrania danych za 2022r
body = requests.get(f'http://api.nbp.pl/api/exchangerates/rates/a/usd/2022-01-01/2022-12-10/')
response = body.json()
kurs = kurs.append(response['rates'])

In [173]:
kurs

           Data  Kurs gbp
0           NaN       NaN
1           NaN       NaN
2           NaN       NaN
3           NaN       NaN
4           NaN       NaN
..          ...       ...
249  2021-12-27    5.4805
250  2021-12-28    5.4623
251  2021-12-29    5.4693
252  2021-12-30    5.4680
253  2021-12-31    5.4846

[2262 rows x 2 columns]